services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - backend-db:/app/data
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  backend-db:
